<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Meema</title>
    <link rel="stylesheet" href="lib/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
</head>
<body ng-controller="meemaCtrl">
    <div id="not-authenticated" ng-hide="authenticated">
        <p><b>Please plug in and authenticate your Meema key.</b></p>
    </div>
    <div id="authenticated" ng-if="authenticated" ng-init="initOptions()">
        <div class="input-container" ng-repeat="input in inputs">
            <input id="{{input.selector}}-save" type="checkbox" ng-model="inputs[$index].save">
            <label for="{{input.selector}}">{{input.label}}</label>
            <input id="{{input.selector}}" type="{{input.type}}" ng-model="inputs[$index].input_value"
                   ng-disabled="!inputs[$index].save && inputs[$index].input_value != ''"
                   ng-click="inputs[$index].save = true">
        </div>
        <div class="button-container">
            <button class="save" ng-click="save()">Save</button>
        </div>
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="lib/jquery.js"></script>
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="lib/angular-animate.js"></script>
    <script type="text/javascript" src="lib/angular-aria.js"></script>
    <script type="text/javascript" src="lib/angular-material.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/meemaCtrl.js"></script>
    <script type="text/javascript" src="js/meemaDeviceService.js"></script>
    <script type="text/javascript" src="js/meemaWebService.js"></script>
</body>
</html>